    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #fdf2ff, #fff9e8);
    color: #333;
    padding: 40px 20px;
    overflow-x: hidden;
   height: 100vh;
   width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(rgba(138, 92, 182, 0.12) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -2;
}



body::after {
    content: "";
    position: fixed;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #f6e7a5, transparent 60%);
    top: -120px;
    left: -120px;
    z-index: -3;
}


       h1, h2 {
    font-family: 'Fredoka', cursive;
    color: #170c46;
    letter-spacing: 1px;
}

p {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #ebcc41;
    background-color: #3e157d;
    border-radius: 999px;

    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    max-width: 260px;
    width: 100%;
}


@media (max-width: 600px) {
    h1 {
        font-size: 24px;
        text-align: center;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }
}


.fade-left, 
.fade-right { opacity: 0; transition: opacity 0.9s ease, transform 0.9s ease; } 
.fade-left { transform: translateX(-40px); } .fade-right { transform: translateX(40px); } 
.fade-show { opacity: 1; transform: translateX(0); } h1.fade-right { transition-delay: 0.15s; } img.fade-left { transition-delay: 0.3s; }
